<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<body>
	<div class="container">
		<hr />
		<div class="card mt-5">
			<div class="card-header">
				<h2>Criação de usuário:</h2>
			</div>
			<div class="card-body">
				<form action="/user/create" method="post">
					<input type="email" name="email" placeholder="seu e-mail" class="form-control"> <br>
					<input type="password" name="password" placeholder="********" class="form-control"><br>
					<button class="btn btn-primary btn-block" type="submit">Criar usuário!</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include ('../../partials/footer') %>
